.main__card-container {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #f6f6f6;
  box-shadow: inset -2px 2px 4px rgba(220, 220, 220, 0.2),
    inset 2px -2px 4px rgba(220, 220, 220, 0.2),
    inset -2px -2px 4px rgba(255, 255, 255, 0.9),
    inset 2px 2px 5px rgba(220, 220, 220, 0.9);
  border-radius: 10px;
  margin-bottom: 16px;
  padding-inline: 10px;
}

.main__card-container .card__image {
  width: 71px;
  height: 71px;
}

.main__card__details {
  flex: 1;
}

.main__price-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__price-veg {
  display: flex;
  gap: 20px;
  align-items: center;
}
